{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="site_title">{% block title %}Broadway cinema{% endblock title %}</title>
</head>
<body>
{#  <a class="navbar-brand">Broadway cinema</a>#}

{% if user.is_authenticated %}
    <a id="link-login" href="">{% trans 'LogOut' %}</a>
{% else %}
    <a id="link-login" href="{% url 'seance:login' %}">{% trans 'LogIn' %}</a>
{% endif %}
<a id="link-register" href="{% url 'seance:register' %}">{% trans 'Registration' %}</a>

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock messages %}

  {% block content %}
  {% endblock content %}

</body>
</html>